*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-card{
    border:1px solid #d4d4d4;
    margin:1.2rem;
    padding:1.2rem;
    text-align: center;
    border-radius: 8px;
    width: 50rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.product-card h2{
    margin: 0;
    font-size: 1.5em;
}
.product-card p{
    margin:10px 0;
}
.product-card img{
    width:100%;
    max-width: 250px;
    height:auto;
    border-radius: 0.5rem;
    margin-bottom:10px;
}
.strike-price{
    text-decoration: line-through;
}
.category{
    font-style: italic;
    color: grey;
}
@media (max-width: 768px) {
    .product-card {
        width: 100%;
        max-width: 90%;
    }
}
.review {
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.review p {
    font-size: 0.8em;
    line-height: 1.4;
}
